<h1> All the lists are here ! </h1>

<%= cl_image_tag("https://res.cloudinary.com/auroreqoi/image/upload/v1653041102/hbsitvic64aiclpximqe.jpg", width: 400, height: 300, crop: :fill)%>

<ul>
  <% @lists.each do |list|%>
  <li><%= link_to list.name, list_path(list) %>  </li>
  <% end %>
</ul>

<%= link_to 'Create a new list', new_list_path %>
